$font-family: 'Roboto', serif;
$main-font-size: 16px;

$xs: 320px;
$sm: 768px;
$md: 1023px;
$lg: 1290px;
$xl: 1600px;

$gray: #d8d8d8;
$white: #ffffff;
$blue: #264465;
$deepBlue: #1e5588;
$light-green: #49d85780;
