@font-face {
  font-family: 'Mulish';
  src: url('../../public/fonts/Mulish-Regular.ttf') format('truetype'),
  url('../../public/fonts/Mulish-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Mulish';
  src: url('../../public/fonts/Mulish-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'Mulish';
  src: url('../../public/fonts/Mulish-Italic.ttf') format('truetype');
  font-style: italic;
}

$font-family: 'Mulish', sans-serif;
$main-font-size: 16px;

$xs: 320px;
$sm: 768px;
$md: 1023px;
$lg: 1290px;
$xl: 1600px;

$gray: #d8d8d8;
$white: #ffffff;
$blue: #264465;
$deepBlue: #1e5588;
$light-green: #49d85780;
