:root {
  --n-bezier-ease-out: cubic-bezier(0, 0, 0.2, 1);
  --n-box-shadow: 0 6px 16px -9px rgba(0, 0, 0, 0.08), 0 9px 28px 0 rgba(0, 0, 0, 0.05), 0 12px 48px 16px rgba(0, 0, 0, 0.03);
  --n-color: #fff;
  --n-text-color: rgb(51, 54, 57);
  z-index: 2000;
}

.n-button {
  margin: 0;
  font-weight: var(--n-font-weight);
  line-height: 1;
  font-family: inherit;
  padding: var(--n-padding);
  height: var(--n-height);
  font-size: var(--n-font-size);
  border-radius: var(--n-border-radius);
  color: var(--color-text);
  background-color: var(--n-color);
  width: var(--n-width);
  white-space: nowrap;
  outline: none;
  position: relative;
  z-index: auto;
  border: none;
  display: inline-flex;
  flex-wrap: nowrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  user-select: none;
  -webkit-user-select: none;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  transition: color .3s var(--n-bezier), background-color .3s var(--n-bezier), opacity .3s var(--n-bezier), border-color .3s var(--n-bezier);
}

.n-button:not(.n-button--disabled):hover {
  background-color: var(--n-color-hover);
  color: var(--color-text);
}

.n-modal-container {
  background-color: var(--n-color-hover);
  color: var(--color-text);
}